// @import "../node_modules/bootstrap/scss/bootstrap";

@use "../node_modules/bootstrap/scss/bootstrap" with ($primary: #fbf582,
    $secondary: #28030f,
    $light: #fcfaf8,
);

// $primary: #fbf582;
// $secondary: #28030f;
// $light: #fcfaf8;