$light: #fcfaf8;
$min-contrast-ratio: 2;

$color-contrast-dark: #28030f;
$color-contrast-light: #fcfaf8;

@import "../node_modules/bootstrap/scss/functions";
@import "../node_modules/bootstrap/scss/variables";

$custom-theme-colors: (
    "sunlight": #fbf582,
    "bark": #28030f,
    "oak": #ecd7c6,
    "purple": #4727ff,
);

$theme-colors: map-merge($theme-colors, $custom-theme-colors);

// @use "../node_modules/bootstrap/scss/bootstrap";
@import "../node_modules/bootstrap/scss/bootstrap";