@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    :root {
        --background: 0 0% 100%;
        --foreground: 350 88% 8%;
        --card: 0 0% 100%;
        --card-foreground: 0 0% 3.9%;
        --popover: 0 0% 100%;
        --popover-foreground: 0 0% 3.9%;
        --primary: 0 0% 9%;
        --primary-foreground: 0 0% 98%;
        --secondary: 0 0% 96.1%;
        --secondary-foreground: 0 0% 9%;
        --muted: 0 0% 96.1%;
        --muted-foreground: 0 0% 45.1%;
        --accent: 0 0% 96.1%;
        --accent-foreground: 0 0% 9%;
        --destructive: 0 84.2% 60.2%;
        --destructive-foreground: 0 0% 98%;
        --border: 0 0% 89.8%;
        --input: 0 0% 89.8%;
        --ring: 0 0% 3.9%;
        --chart-1: 12 76% 61%;
        --chart-2: 173 58% 39%;
        --chart-3: 197 37% 24%;
        --chart-4: 43 74% 66%;
        --chart-5: 27 87% 67%;
        --radius: 0.5rem;
        --bs-body-color: hsl(var(--foreground));
        --bs-emphasis-color: hsl(var(--foreground));
        --bs-secondary-color: hsl(var(--muted-foreground));
        --bs-tertiary-color: hsl(var(--muted-foreground));

        --rs-border: #ccc;
        /* react-select default */
        --rs-border-hover: #b3b3b3;
    }

    .dark {
        --background: 0 0% 3.9%;
        --foreground: 0 0% 98%;
        --card: 0 0% 3.9%;
        --card-foreground: 0 0% 98%;
        --popover: 0 0% 3.9%;
        --popover-foreground: 0 0% 98%;
        --primary: 0 0% 98%;
        --primary-foreground: 0 0% 9%;
        --secondary: 0 0% 14.9%;
        --secondary-foreground: 0 0% 98%;
        --muted: 0 0% 14.9%;
        --muted-foreground: 0 0% 63.9%;
        --accent: 0 0% 14.9%;
        --accent-foreground: 0 0% 98%;
        --destructive: 0 62.8% 30.6%;
        --destructive-foreground: 0 0% 98%;
        --border: 0 0% 14.9%;
        --input: 0 0% 14.9%;
        --ring: 0 0% 83.1%;
        --chart-1: 220 70% 50%;
        --chart-2: 160 60% 45%;
        --chart-3: 30 80% 55%;
        --chart-4: 280 65% 60%;
        --chart-5: 340 75% 55%;
    }
}

@layer base {
    * {
        @apply border-border;
    }

    body {
        @apply bg-background text-foreground;
        color: hsl(var(--foreground));
    }
}

/* Custom list group styling */
.list-group-item.active {
    background-color: #fbf58222 !important;
    border-color: #ecd7c6 !important;
    color: #28030f !important;
    border: none !important;
    border: 1 solid #ecd7c6 !important;
}

.list-group-item.active:hover {
    background-color: #ecd7c6 !important;
    border-color: #fbf582 !important;
    color: #28030f !important;
    border: 1 solid #ecd7c6 !important;
}

.list-group-item:hover {
    background-color: #0018EA11 !important;
}

.tooltip {
    position: fixed;
}

.table-striped>tbody>tr.table-warning {
    --bs-table-striped-bg: #fff3cd;
}

.btn-light {
    --bs-btn-color: #28030f;
    --bs-btn-hover-color: #28030f;
    --bs-btn-active-color: #28030f;
    --bs-btn-border-color: #fcfaf8;
    --bs-btn-hover-border-color: #ecd7c6;
    --bs-btn-hover-bg: #ecd7c6;
    --bs-btn-active-border-color: #ecd7c6;
}

.btn {
    font-size: 14;
    padding-top: 7.5;
    padding-bottom: 7.5;
    padding-left: 15;
    padding-right: 15;
    border-radius: 10;
    font-weight: 500;
}

.form-control:focus,
.form-select:focus {
    border-color: #2684ff !important;
    box-shadow: 0 0 0 1px #2684ff !important;
    outline: 0 !important;
}

.form-select:hover {
    border-color: #2684ff !important;
    box-shadow: 0 0 0 1px #2684ff !important;
    outline: 0 !important;
}

/* React-Bootstrap inputs + selects */
.form-control,
.form-select,
.audioBox {
    border: 1px solid var(--rs-border) !important;
}

/* Hover border like react-select */
.form-control:hover,
.form-select:hover,
.audioBox:hover {
    border-color: var(--rs-border-hover) !important;
}

/* If Bootstrap adds focus styles you want to keep consistent too */
.form-control:focus,
.form-select:focus {
    border-color: #2684ff !important;
}

.form-control:disabled,
.form-select:disabled {
    background-color: #f2f2f2 !important;
    border-color: #e6e6e6 !important;
    color: #999999 !important;
}

.form-control,
.form-select {
    border-radius: 4px !important;
}

.custom-scroll::-webkit-scrollbar {
    width: 4px;
}

.custom-scroll::-webkit-scrollbar-thumb {
    background: #ced4da;
    border-radius: 2px;
}

.clear-button:hover {
    color: #333;
    cursor: default;
}

.none-button {
    opacity: 0.75 !important;
}

.none-button:hover,
.none-button:active {
    opacity: 1 !important;
}

.custom-dropdown.show .dropdown-toggle {
    opacity: 1 !important;
}